# ================================
# GEMINI
# ================================
GEMINI_APIKEY_1=
GEMINI_MODEL=gemini-3.1-flash-lite

# ================================
# OPENROUTER
# ================================
OPENROUTER_APIKEY_1=
OPENROUTER_MODEL=openrouter/free

# ================================
# ROUTING
# ================================
FALLBACK_ORDER=gemini,openrouter
